.contenr {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.card {
    height: 250px;
    width: 260px;
    border: 3px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boll {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gold;

}
@keyframes boll {
    100% {
        transform: rotate(360deg);
    }
}

.card2 {
    width: 150px;
    height: 150px;
    animation: boll 2s 0s infinite linear;
}











































































































































    border-radius: 50%;
    height: 30px;
    background-color: gold;
}